@model PagedList.IPagedList<CoffeeShop.Models.GIOHANG>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 style="text-align: center">THÔNG TIN ĐƠN HÀNG</h2>
<div class="content-wrapper">
    <div class="container" style="max-width:100%;">

      

        <table cellpadding="0" cellspacing="0" border="0" class="sortable">

            <tr class="tbl-header">
                <th>Mã đơn hàng</th>
                <th>Tình Trạng</th>

                <th>Tên khách hàng</th>
                <th>Phone</th>
                <th>Tiền</th>
                <th>Trạng thái</th>
                <th>Ngày tạo</th>
                <th></th>
            </tr>


            @if (Model != null && Model.Any())
            {
                var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                foreach (var item in Model)
                {
                    <tr class="item tbl-content">
                        <td>@item.ID</td>
                        <td><p style="color:red">@(item.TTrang == false? "ĐƠN HÀNG HUỶ" : "...")</p></td>

                        <td>@item.TenNguoiNhan</td>
                        <td>@item.DienThoaiNhan</td>
                        <td>@item.Trigia.Value.ToString("###,###,##0")</td>
                        <td>@(item.Dagiao == false?"Chờ nhận hàng":"Thành công")</td>
                        <td>@item.NGAYDAT.Value.ToString("dd/MM/yyyy")</td>
                        <td>
                            @Html.ActionLink(".","HienThiDonHang", new
                       {
                           id =
                           item.ID
                       }, new { @class = "fa fa-eye", @style = "font-size:24px; color:black"  }) |
                            <a href="#" class="btnCapNhat" data-id="@item.ID"><i style="font-size: 24px; color:black " class="fa">&#xf040;</i></a> |
                            <a href="#" class="btnHuy" data-id="@item.ID" style="color: black; font-size:24px">X</a>

                        </td>

                    </tr>
                }
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-6"></div>
    <div class="col-6" style="text-align:right;">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật trạng thái</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtOrderID" value="0" />
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" id="ddTrangThai">
                        <option value="true">Thành công</option>
                        <option value="false">Chờ nhận hàng</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal"> đóng</button>
                <button type="button" class="btn btn-primary btnLuu">Lưu</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-default2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật Tình Trạng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtOrderID2" value="0" />
                <div class="form-group">
                    <label>Tình Trạng</label>
                    <select class="form-control" id="ddTinhTrang">
                        <option value="true">...</option>
                        <option value="false">Huỷ đơn hàng</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal"> đóng</button>
                <button type="button" class="btn btn-primary btnLuu">Lưu</button>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('body').on('click', '.btnCapNhat', function () {
            var id = $(this).data("id");
            $('#txtOrderID').val(id);
            $('#modal-default').modal('show');
        });
        $('body').on('click', '.btnLuu', function () {
            var id = $('#txtOrderID').val();
            var tt = $('#ddTrangThai').val();

            $.ajax({
                url: '/Admin/QuanLyDonHang/UpdateTT',
                type: 'POST',
                data: {
                    id: id, trangthai: tt
                },
                success: function (res) {
                    if (res.Success) {
                        location.reload();
                    }
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('body').on('click', '.btnHuy', function () {
            var id = $(this).data("id");
            $('#txtOrderID2').val(id);
            $('#modal-default2').modal('show');
        });
        $('body').on('click', '.btnLuu', function () {
            var id = $('#txtOrderID2').val();
            var tt = $('#ddTinhTrang').val();

            $.ajax({
                url: '/Admin/QuanLyDonHang/UpdateTTrang',
                type: 'POST',
                data: {
                    id: id, TTrang: tt
                },
                success: function (res) {
                    if (res.Success) {
                        location.reload();
                    }
                }
            });
        });
    });
</script>



<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<link rel="stylesheet" href="~/css/StyleLog.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-boostrap/4.5.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css" />

<script src="~/js/AdminJs.js"></script>
<link rel="stylesheet" href="~/css/AdminStyle.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,300,700" />