@model CoffeeShop.Models.SANPHAM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">
    <div class=""><h2 style="color:black">Sửa Sản phẩm</h2></div>
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MASP)

                <div class="form-group">
                    @Html.LabelFor(model => model.TENSP, "Tên Sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TENSP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TENSP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LOAISP, "Loại sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("LOAISP", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LOAISP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IDNL, "Mã Nguyên Liệu", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IDNL", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDNL, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SLUONG, "Số lượng tồn", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SLUONG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SLUONG, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HINHANH, "Hình ảnh sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <button type="button" onclick="BrowseSever()">Chọn hình ảnh</button>
                        @Html.EditorFor(model => model.HINHANH, new { htmlAttributes = new { @class = "form-control", @id = "imgfile" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.HINHANH, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GIASP, "Giá sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GIASP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GIASP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DiaChiCH, "Địa chỉ cửa hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("DiaChiCH", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DiaChiCH, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Mota, "Mô tả sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Mota, new { @id = "Mota", @clas = "form-control", @row = "200" })



                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="margin:10px">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <button class="btn" style="margin:20px">
            @Html.ActionLink("Back to List", "Index")
        </button>
    </div>
</div>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<link rel="stylesheet" href="~/css/StyleLog.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-boostrap/4.5.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css" />

<script src="~/js/AdminJs.js"></script>
<link rel="stylesheet" href="~/css/AdminStyle.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,300,700" />
<script src="~/plugin/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('Mota');
    CKEDITOR.editorConfig = function (config) {
        ignoreEmptyParagraph = true;
    };
    function BrowseSever() {
        var finder = new CKFinder();
        finder.selectActionFunction = GanUrlChoTruongHinhAnh;
        finder.popup();
    }
    function GanUrlChoTruongHinhAnh(url) {
        $("#imgfile").val(url)
    }
</script>
