@model IEnumerable<CoffeeShop.Models.NHANVIEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HOVATEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYSINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIACHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHUCVU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MUCLUONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUAHANG.DiaChiCH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HOVATEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYSINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUCVU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MUCLUONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUAHANG.DiaChiCH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDNV }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDNV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDNV })
        </td>
    </tr>
}

</table>
