@model CoffeeShop.Models.CongThuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CongThuc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGUYENLIEU.TENNL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGUYENLIEU.TENNL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TENSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TENSP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonVi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonVi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
