@model IEnumerable<CoffeeShop.Models.CongThuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Nhanvien/Views/Shared/_LayoutNhanvien.cshtml";
}



<div class="content-wrapper">
    <div class="container" style="max-width:100%;">

        <button class="btn" style="margin:20px">
            <a> @Html.ActionLink("Create New", "Create", new { @class = "btn mt-4" })</a>
        </button>
              
                <table cellpadding="0" cellspacing="0" border="0" class="sortable">

                        <tr class="tbl-header">
                            <th>
                                @Html.DisplayNameFor(model => model.TENSP)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SOLUONG)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NGUYENLIEU.TENNL)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SANPHAM.TENSP)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DonVi)
                            </th>
                            <th></th>
                        </tr>


                        @foreach (var item in Model)
                        {
                            <tr class="item tbl-content">
                                <td>
                                    @Html.DisplayFor(modelItem => item.TENSP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SOLUONG)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NGUYENLIEU.TENNL)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SANPHAM.TENSP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DonVi)
                                </td>
                                <td>
                                    <button class="btn" >@Html.ActionLink("Sửa", "Edit", new { id = item.IDCT })</button> |
                                    <button class="btn">@Html.ActionLink("Xoá", "Delete", new { id = item.IDCT })</button>
                                </td>
                            </tr>
                        }


                </table>
            </div>


    </div>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<link rel="stylesheet" href="~/css/StyleLog.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-boostrap/4.5.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css" />

<script src="~/js/AdminJs.js"></script>
<link rel="stylesheet" href="~/css/AdminStyle.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,300,700" />