@model CoffeeShop.Models.KHUYENMAI

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KHUYENMAI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENKM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENKM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIAMGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAMGIA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDKM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
